<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Its new year?	</title>
</head>
<body>

	{% if newyear %}
		<h1>FELIZ ANO NOVO</h1>
		<img style="background-size: cover;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0ZSiQnLHpIU0EkL2A5lpbh7FjrW3cJliFFA&s" alt="">
	{% else %}
		<h1>NÃO É ANO NOVO</h1>
		<img src="https://m.media-amazon.com/images/I/71FuS3Wu2XL.jpg" alt=""	>
	{% endif %}
	</body>
</html>
